<section>
    <h1 id="splash-text">Welcome to the Night Shift.</h1>
    <%= link_to "/brackets/new" do %>
        Create a bracket
    <% end %>
</section>

<section></section>
<section></section>
<section></section>

