<div class="bg"></div>
<section id="splash-section">
    <h1 id="splash-text">Welcome to the Night Shift</h1>
    <%= link_to "/users/sign_up" do %>
        <h1 id="splash-link">Get Started</h1>
    <% end %>
</section>