#navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
