#navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(10, 10, 10);
  z-index: 999;
}

#navbar-container a {
  text-decoration: none;
}

#nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#logo {
  font-family: 'Press Start 2P', cursive;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.2;
  transition: 0.1s;
}

#logo:hover {
  transition: 0.1s;
  color: #431974;
}

.nav-menu-item {
  font-family: 'Work Sans', sans-serif;
  color: white;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 50px;
  transition: 0.2s;
}

.nav-menu-item i {
  font-size: 0px;
  transition: 0.2s;
}

.nav-menu-item:hover i {
  transition: 0.2s;
  font-size: 16px;
}

#nav-menu i {
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

#nav-menu i:hover {
  transition: 0.2s;
  color: rgb(185, 185, 185);
}

#nav-menu button {
  font-family: 'Work Sans', sans-serif;
  color: white;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 50px;
  transition: 0.2s;
  background-color: transparent;
}
