#nav-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 2;
}

#logo {
  position: absolute;
  top: 50px;
  left: 50px;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.2;
  z-index: 2;
}

.nav-menu-item {
  color: white;
  padding: 18px 32px;
  transition: 0.2s;
  cursor: pointer;
}

.register {
  background: -webkit-linear-gradient(rgba(48, 18, 82, 1), rgb(133, 17, 179));
  background: -moz-linear-gradient(rgba(48, 18, 82, 1), rgb(133, 17, 179));
  background: -o-linear-gradient(rgba(48, 18, 82, 1), rgb(133, 17, 179));
  background: linear-gradient(rgba(48, 18, 82, 1), rgb(133, 17, 179));
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
  background-size: 1px 200px;
}

.register:hover {
  background-position: 100px;
}

#nav-menu i {
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

#nav-menu i:hover {
  transition: 0.2s;
  color: rgb(185, 185, 185);
}

#nav-menu button {
  color: white;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 50px;
  transition: 0.2s;
  background-color: transparent;
}
