// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: rgb(10, 10, 10);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(223, 223, 223);
}
