#splash-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: white;
}

#splash-link {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: white;
  padding: 18px 28px;
  border-radius: 50px;
  transition: 0.2s;
  background: -webkit-linear-gradient(rgba(48, 18, 82, 1), rgb(133, 17, 179));
  background: -moz-linear-gradient(rgba(48, 18, 82, 1), rgb(133, 17, 179));
  background: -o-linear-gradient(rgba(48, 18, 82, 1), rgb(133, 17, 179));
  background: linear-gradient(rgba(48, 18, 82, 1), rgb(133, 17, 179));
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
  background-size: 1px 200px;
}

#splash-link:hover {
  background-position: 100px;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  padding: 100px 20vw;
}
