#splash-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  font-weight: 600;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

section:nth-child(odd) {
  background-color: rgb(12, 12, 12);
}
