#splash-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: white;
}

#splash-link {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: white;
  padding: 18px 28px;
  border-radius: 50px;
  transition: 0.2s;
  background-color: #301252;
}

#splash-link:hover {
  transition: 0.2s;
  background-color: #431974;
}

section a {
  text-decoration: none;
}

#splash-section {
  gap: 20px;
  min-height: 500px;
  object-fit: cover;
  justify-content: center;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  padding: 100px 20vw;
}

section:nth-child(odd) {
  background-color: #301252;
}
