.custom-shape-divider-bottom-1642924221 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642924221 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 98px;
}

.custom-shape-divider-bottom-1642924221 .shape-fill {
  fill: #0a0a0a;
}

.custom-shape-divider-bottom-1642924350 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642924350 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 98px;
}

.custom-shape-divider-bottom-1642924350 .shape-fill {
  fill: #301252;
}
